{% extends 'base.html.twig' %}

{% block title %}{{ author }}{% endblock %}


{% block body %}

    <section class="banner">


                <div class="author-avatar">
                    {% if author.photoFilename %}
                        <img src="{{ asset('uploads/authors/' ~ author.photoFilename) }}"
                             alt="Zdjęcie {{ author }}"
                             class="profile-avatar__img"/>
                    {% else %}
                        <div class="author-avatar__placeholder" aria-label="Brak zdjęcia">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 fill="currentColor" class="author-avatar__icon"><path fill-rule="evenodd" d="M12 2a6 6 0 100 12 6 6 0 000-12zm-9 18a9 9 0 1118 0H3z" clip-rule="evenodd"/></svg>
                        </div>
                    {% endif %}
                </div>
                <div class="author-info">
                    <h1 class="author-name">{{ author }}</h1>
                    {% if author.description %}
                        <p class="author-bio">{{ author.description|nl2br }}</p>
                    {% endif %}
                </div>

    </section>
<section >
    <h2> Publikacje:</h2>

    {% if pagination is not empty %}

            <div>
                    {% for book in pagination %}
                     {% include 'book_card.html.twig' %}
                    {% endfor %}

            </div>

        {# Pagination bullets below the whole wrapper #}
        <div class="swiper-pagination"></div>
    {% endif %}
</section>

{% endblock %}