{% extends 'base.html.twig' %}

{% block title %}
    {{ author.pseudonym ?? author.firstName ~ ' ' ~ author.name }}
{% endblock %}

{% block body %}
    <div class="dashboardContent">
        <div class="mb8">
            <h1 class="text3xl fontBold">
                {{ author.pseudonym ?? author.firstName ~ ' ' ~ author.name }}
            </h1>

            {% if author.photoFilename %}
                <img src="{{ asset('uploads/authors/' ~ author.photoFilename) }}" alt="Zdjęcie autora" class="mt4 roundedXl w48 hAuto shadow">
            {% endif %}

            {% if author.description %}
                <p class="mt4 textGray700">{{ author.description }}</p>
            {% endif %}
        </div>

        <h2 class="text2xl fontSemibold mb4">Książki tego autora</h2>

        {% if books is not empty %}
            <div class="bookGrid">
                {% for book in books %}
                    <div class="bookCard">
                        <h3>
                            <a href="{{ path('book_show', { slug: book.slug }) }}">
                                {{ book.title }}
                            </a>
                        </h3>
                        {% if book.coverFilename %}
                            <img src="{{ asset('uploads/books/' ~ book.coverFilename) }}" alt="Okładka" class="bookCover">
                        {% endif %}
                        <p>{{ book.description|u.truncate(100) }}</p>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Ten autor nie ma jeszcze żadnych książek.</p>
        {% endif %}
    </div>
{% endblock %}
