{% extends 'base.html.twig' %}
{% block title %}{{ 'action.add_social_profile'|trans }}{% endblock %}
{% block body %}



<section class="auth-page">
    <div class="auth-card">
        <h1 class="auth-title">{{ 'action.edit_social_profile'|trans }}</h1>

        {{ form_start(form) }}
        {{ form_row(form.portalSpolecznosciowy) }}
        {{ form_row(form.displayAs) }}
        {{ form_row(form.link) }}
        <div class="auth-actions">
            <button class="btn btnPrimary" type="submit" data-turbo="false">
                {{ 'action.save'|trans }}
            </button>
        </div>
        {{ form_end(form) }}
    </div>
</section>
{{ form_end(form) }}
{% endblock %}
