{#{% extends 'base.html.twig' %}#}
{#{% block title %}{{ 'action.add_social_profile'|trans }}{% endblock %}#}
{#{% block body %}#}
{#    <h1>{{ 'action.add_social_profile'|trans }}</h1>#}
{#    {{ form_start(form) }}#}
{#    {{ form_row(form.portalSpolecznosciowy) }}#}
{#    {{ form_row(form.link) }}#}
{#    <button class="btn btnPrimary">{{ 'action.save'|trans }}</button>#}
{#    {{ form_end(form) }}#}
{#{% endblock %}#}


{# templates/user/add_social_profile.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ 'action.add_social_profile'|trans }}{% endblock %}

{% block body %}
    <section class="auth-page">
        <div class="auth-card">
            <h1 class="auth-title">{{ 'action.add_social_profile'|trans }}</h1>

            {{ form_start(form, { attr: { class: 'auth-form' } }) }}
            {{ form_row(form.portalSpolecznosciowy) }}
            {{ form_row(form.displayAs) }}
            {{ form_row(form.link) }}

            <div class="auth-actions">
                <button class="btn btnPrimary" type="submit" data-turbo="false">
                    {{ 'action.save'|trans }}
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
