{% extends 'base.html.twig' %}

{% block title %}Witamy w Bibliotece!{% endblock %}

{% block body %}
    <section class="hero">
        <h1>Odkrywaj, oceniaj i dziel się książkami</h1>

        {% if not app.user %}
            <p>Dołącz do naszej społeczności i odkrywaj najlepsze lektury!</p>
            <a href="{{ path('user_register') }}" class="register-btn">Załóż konto</a>
        {% else %}
            <p>Znajdź nowe pozycje, wybrane specjalnie dla Ciebie!</p>
            <a href="{{ path('for_you_index') }}" class="register-btn">Przegldaj...</a>
        {% endif %}
    </section>

    <h2>Najpopularniejsze książki</h2>
    <section class="dashboard-content">


        {% if popularBooks is not empty %}

                        {% for book in popularBooks %}
                            {% include 'book_card.html.twig' %}
                        {% endfor %}

        {% endif %}
    </section>
    {% set features = [
        {
            path: path('book_search'),
            icon: 'newsstand',
            title: 'Setki książek',
            text: 'Przeglądaj naszą stale rosnącą kolekcję książek z recenzjami użytkowników.'
        },
        {
            path: path('book_search'),
            icon: 'star',
            title: 'Recenzje i oceny',
            text: 'Sprawdzaj opinie innych czytelników i dziel się swoimi wrażeniami.'
        },
        app.user
        ? {
            path: path('user_index'),
            icon: 'account_circle',
            title: 'Twoje konto',
            text: 'Zobacz szczegóły swojego konta.'
        }
        : {
            path: path('user_register'),
            icon: 'account_circle',
            title: 'Dołącz do społeczności',
            text: 'Załóż darmowe konto i bądź częścią książkowej społeczności online.'
        }
    ] %}


    <section class="features">
    {% for feature in features %}
        <a href="{{ feature.path }}" class="feature-card">
            <span class="material-symbols-outlined">{{ feature.icon }}</span>
            <h3>{{ feature.title }}</h3>
            <p>{{ feature.text }}</p>
        </a>
    {% endfor %}
</section>






















{#    <section class="features">#}
{#        <a href="{{ path('book_search') }}" class="feature-card">#}
{#            <span class="icon">📚</span>#}
{#            <h3>Setki książek</h3>#}
{#            <p>Przeglądaj naszą stale rosnącą kolekcję książek z recenzjami użytkowników.</p>#}
{#        </a>#}

{#        <a href="{{ path('book_search') }}" class="feature-card">#}
{#            <span class="icon">⭐</span>#}
{#            <h3>Recenzje i oceny</h3>#}
{#            <p>Sprawdzaj opinie innych czytelników i dziel się swoimi wrażeniami.</p>#}
{#        </a>#}

{#        {% if app.user %}#}
{#            <a href="{{ path('user_index') }}" class="feature-card">#}
{#                <span class="icon">👤</span>#}
{#                <h3>Twoje konto</h3>#}
{#                <p>Zobacz szczegóły swojego konta.</p>#}
{#            </a>#}
{#        {% else %}#}
{#            <a href="{{ path('user_register') }}" class="feature-card">#}
{#                <span class="icon">👤</span>#}
{#                <h3>Dołącz do społeczności</h3>#}
{#                <p>Załóż darmowe konto i bądź częścią książkowej społeczności online.</p>#}
{#            </a>#}
{#        {% endif %}#}
{#    </section>#}
{% endblock %}
