{% extends 'base.html.twig' %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block body %}
    <div class="formWrapper">
        <h1 class="formTitle">{{ page_title }}</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button class="btn btnLg btnPrimary mt-2" type="submit">
            {{ submit_label }}
        </button>


        <a href="{{ path(back_to_list_path) }}" class="btn btnSecondary mt-2">
            ← {{ 'action.back_to_list'|trans }}
        </a>
    {{ form_end(form) }}
    </div>
{% endblock %}
