{% extends 'base.html.twig' %}

{% block title %}All Books{% endblock %}

{% block body %}
    <h1>All Books</h1>

    {% if pagination.items is not empty %}
        {% for book in pagination.items %}
            <div class="bookEntry">
{#                <a href="{{ path('book_show', {id: book.id}) }}">{{ book.title }}</a>#}
                <a href="{{ path('book_show', {slug: book.slug}) }}">{{ book.title }}</a>


                — {{ book.author }}
            </div>
        {% endfor %}

        <div class="paginationInfo">
            Page {{ pagination.currentPageNumber }} of {{ pagination.pageCount }}
        </div>

        <div class="paginationLinks">
            {% if pagination.previousPageNumber is defined %}
                <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all | merge({'page': pagination.previousPageNumber})) }}">Previous</a>
            {% endif %}
            {% if pagination.nextPageNumber is defined %}
                <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all | merge({'page': pagination.nextPageNumber})) }}">Next</a>
            {% endif %}
        </div>

        {{ knp_pagination_render(pagination) }}
    {% else %}
        <p>No books found.</p>
    {% endif %}
{% endblock %}
