{% block body %}

    {% if is_granted('ROLE_USER') %}
        <div class="navigation ">
        <a class="btn btn-outline-success mt-3" href="{{ url('book_create') }}" title="{{ 'action.create'|trans }}">
            {{ 'action.create'|trans }}
        </a>
        </div>
    {% endif %}

    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label.book'|trans }}</a></th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'book.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.description'|trans, 'book.description') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'book.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'book.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.gallery'|trans, 'gallery.title') }}</a></th>
                <th>{{ 'label.tags'|trans }}</a></th>
                {#                <th>{{ 'label.gallery'|trans }}</th>#}
                <th>{{ 'label.actions'|trans }}</th>

            </tr>
            </thead>
            <tbody>

            {% for book in pagination.items %}
                {% if is_granted('VIEW', book) %}
                <tr>
                    <td>

                        <img src="{{ asset(books_directory ~ book.filename) }}" alt="book" style="
                                    width: 300px; margin: 5px;" >
                    </td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.description }}</td>
                    <td>{{ book.createdAt|format_date('long') }}</td>
                    <td>{{ book.updatedAt|format_date('long') }}</td>
                    <td> <a
                            href="{{ url('book_index', {'galleryId' : book.gallery.id, 'statusId' : book.status}) }}"
                            title="{{ book.gallery.title }}">
                            {{ book.gallery.title }}
                        </a></td>
                    <td>
                        {% if book.tags is defined and book.tags|length %}
                            {% for tag in book.tags %}
                                <div>
                                    <a class="btn btn-outline-primary"
                                       href="{{ url('book_index', {'tagId' : tag.id, 'statusId' : book.status}) }}"
                                       title="{{ tag.title }}">
                                        {{ tag.title }}
                                    </a>
                                </div>
                            {% endfor %}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>

                    <td>

                        {# ... #}
                        <div class="list-group">
                            <a href="{{ path('book_show', {id: book.id}) }}" class="list-group-item list-group-item-action btn btn-outline-primary" title="{{ 'action.show'|trans }}">
                                {{ 'action.show'|trans }}
                            </a>


                            {% if is_granted('EDIT', book) %}
                                <a href="{{ path('book_edit', {id: book.id}) }}" class="list-group-item list-group-item-action btn btn-outline-success" title="{{ 'action.edit'|trans }}">
                                    {{ 'action.edit'|trans }}
                                </a>
                            {% endif %}

                            {% if is_granted('DELETE', book) %}
                                <a href="{{ path('book_delete', {id: book.id}) }}" class="list-group-item list-group-item-action btn btn-outline-danger" title="{{ 'action.delete'|trans }}">
                                    {{ 'action.delete'|trans }}
                                </a>
                            {% endif %}
                        </div>

                        {# ... #}
                    </td>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}