{% extends 'base.html.twig' %}

{% block title %}
    <h1>{{ book.title }} {{ 'label.ratings'|trans }}</h1>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <h1>{{ book.title }} {{ 'label.ratings'|trans }}</h1>
            <img src="{{ asset(books_directory ~ book.filename) }}" alt="book" class="img-fluid mb-3" style="max-height:800px;">
        </div>
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'label.rate'|trans, 'rating.value') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.email'|trans, 'rating.user.email') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.name'|trans, 'rating.user.name')}}</th>
                    <th></th> {# Empty column for delete button #}
                </tr>
                </thead>
                <tbody>
                {% for rating in pagination.items %}
                    <tr>
                        <td>{{ rating.value }}</td>
                        <td>{{ rating.user.name }}</td>
                        <td>{{ rating.user.email }}</td>
                        <td>
                            <a href="{{ path('rating_delete', {id: rating.id}) }}" class="btn btn-outline-danger" title="{{ 'action.delete'|trans }}">
                                {{ 'action.delete'|trans }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('book_show', {id: book.id}) }}" class="btn btn-outline-secondary" title="{{ 'action.back'|trans }}">
                {{ 'action.back'|trans }}
            </a>
        </div>
    </div>
{% endblock %}
