{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/_book.css') }}">
{% endblock %}

{% block body %}
    {% set formVisible = formVisible|default(false) %}
    {% set formVisibleReview = formVisibleReview|default(false) %}

    <div class="bookShow">
        <section class="bookDetail">
            <div class="bookCover">
                {% if book.coverFilename %}
                    <img src="{{ asset('uploads/covers/' ~ book.coverFilename) }}" alt="Okładka książki {{ book.title }}">
                {% else %}
                    <img src="{{ asset('uploads/defaultCover.svg') }}" alt="Domyślna okładka książki {{ book.title }}">
                {% endif %}
            </div>

            <div class="bookInfo">
                <h1>{{ book.title }}</h1>
                <p class="bookAuthor">
                    <strong>Autor:</strong>
                    {% if book.author %}
                        <a href="{{ path('author_show', { id: book.author.id }) }}">{{ book.author }}</a>
                    {% else %}
                        Nieznany autor
                    {% endif %}
                </p>

                <p class="bookDescription">{{ book.description }}</p>



                {% if avg and avg >= 1 %}
                    <div class="bookRating">
                        <strong>Średnia ocen:</strong>
                        <div class="starWrapper" aria-label="Ocena {{ avg }}/10">
                            {% for i in 1..10 %}
                                <span class="star {{ i <= avg ? 'filled' : '' }}">★</span>
                            {% endfor %}
                        </div>
                        {#                        <span class="ratingNumber">{{ avg }}/10</span>#}
                    </div>
                {% else %}
                    <p class="noReviews">Ta książka nie posiada jeszcze ocen.</p>
                {% endif %}


                {% if book.tags|length > 0 %}
                    <div class="bookTags">
                        {% for tag in book.tags %}
                            <span class="badge bgSecondary">{{ tag.title }}</span>
                        {% endfor %}
                    </div>
                {% endif %}



                {% block add_buttons %}
                    {% if app.user %}
                        {% if not formVisible %}
                            {% if inLibrary %}
                                <a href="{{ path('library_add', {id: book.id}) }}" class="btn btnPrimary mt2">➕ Zmien Status w biblioteczce</a>
                            {% else %}
                                <a href="{{ path('library_add', {id: book.id}) }}" class="btn btnPrimary mt2">➕ Dodaj do biblioteczki</a>
                            {% endif %}

                        {% endif %}

                        {% if not formVisibleReview and not hasUserReview %}
                            <a href="{{ path('review_create', {bookId: book.id}) }}" class="btn btnPrimary mt2">➕ Dodaj recenzję</a>
                        {% endif %}
                    {% else %}
                        <p class="textNotice mt2">🔒 <a href="{{ path('app_login') }}">Zaloguj się</a>, aby dodawać książki do biblioteczki i pisać recenzje.</p>
                    {% endif %}
                {% endblock %}

                {% block add %}{% endblock %}
            </div>
        </section>

{#        reviews - whole block by js V #}


        <h2>Recenzje</h2>

        <section class="reviews">
            {% if userReview is defined and userReview %}
                {% include 'review/_card.html.twig' with {
                    review: userReview,
                    isUserOwn: true
                } %}
            {% endif %}

            {% if otherReviews|length > 0 %}
                {% for review in otherReviews %}
                    {% include 'review/_card.html.twig' with {
                        review: review,
                        isUserOwn: false
                    } %}
                {% endfor %}
            {% else %}
                <p><em>Brak innych recenzji dla tej książki.</em></p>
            {% endif %}
        </section>

    </div>
{% endblock %}
