{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}
{#    {% set formVisible = formVisible|default(false) %}#}
{#    {% set formVisibleReview = formVisibleReview|default(false) %}#}
    <div class="bookBanner">


            <div class="bookCover">
                {% if book.coverFilename %}
                    <img src="{{ asset('uploads/covers/' ~ book.coverFilename) }}" alt="Okładka książki {{ book.title }}">
                {% else %}
                    <img src="{{ asset('uploads/defaultCover.svg') }}" alt="Domyślna okładka książki {{ book.title }}">
                {% endif %}
            </div>

            <div class="bookInfo">
                <h1 class = "bookTitle">{{ book.title }}</h1>
                <p class="bookAuthor">
                    <strong>Autor:</strong>
                    {% if book.author %}
                        <a href="{{ path('author_show', { id: book.author.id }) }}">{{ book.author }}</a>
                    {% else %}
                        Nieznany autor
                    {% endif %}
                </p>

            </div>

    </div>
        <div class="bookDetail">
            {% if avg and avg >= 1 %}
                <div class="book-rating">
    <span class="rating-stars">
      {% for i in 1..10 %}
          {% if i <= avg|round(0, 'floor') %}
              <span class="material-symbols-outlined star full">star</span>
        {% elseif i - avg < 1 %}
              <span class="material-symbols-outlined star half">star_half</span>
        {% else %}
              <span class="material-symbols-outlined star empty">star</span>
          {% endif %}
      {% endfor %}
    </span>
                    <span class="rating-number">{{ avg|number_format(1, '.', '') }}/10</span>
                </div>
            {% else %}
                <div class="book-rating is-muted">
                    <span class="material-symbols-outlined star empty">star</span>
                    <span class="rating-number">Brak ocen</span>
                </div>
            {% endif %}


            {# --- Tags --- #}
            {% if book.tags|length > 0 %}
                <div class="bookTags">
                    {% for tag in book.tags %}
                        <span class="tagBullet">{{ tag.title }}</span>
                    {% endfor %}
                </div>
            {% endif %}


            <div class="bookDescription"> <p> {{ book.description }}  </p> </div>


            <div class="lib-actions">
                {% if not formVisible is defined %}
                    {% set formVisible= false %}
                {% endif %}


                {% block add %}{% endblock %}

                {% block library_buttons %}
                    {% if app.user %}

                        {% if not formVisible %}

                            {% if inLibrary %}
                                <a href="{{ path('library_add', {id: book.id}) }}" class="btn add-review mt2"><span class="material-symbols-outlined"> edit </span>Zmien Status</a>

                                <form method="post"
                                      action="{{ path('library_remove', { id: book.id }) }}"
                                      class="remove-from-lib">
{#                                      onsubmit="return confirm('Usunąć tę książkę z Twojej biblioteczki?');">#}
                                    <input type="hidden" name="_token" value="{{ csrf_token('remove_library_' ~ book.id) }}">
                                    <button class="btn add-review mt2"> <span class="material-symbols-outlined">close</span> Usuń z biblioteczki</button>
                                </form>


                            {% else %}
                                <a href="{{ path('library_add', {id: book.id}) }}" class="btn add-review mt2"><span class="material-symbols-outlined"> add </span>Dodaj do biblioteczki</a>
                            {% endif %}

                        {% endif %}

                    {% else %}
                        <p class="textNotice mt2">🔒 <a href="{{ path('app_login') }}">Zaloguj się</a>, aby dodawać książki do biblioteczki i pisać recenzje.</p>
                    {% endif %}
                {% endblock %}

            </div>





        </div>




        <section class="reviews">
            <h2 class = "header"> Recenzje</h2>
            {% if userReview is defined and userReview %}
                {% include 'review/_card.html.twig' with {
                    review: userReview,
                    isUserOwn: true
                } %}
                {% set hasUserReview = true %}
            {% endif %}


            {% block review_buttons%}
                {%set formVisibleReview = false %}
                {% if not formVisibleReview and not hasUserReview %}
                    <a href="{{ path('review_create', {bookId: book.id}) }}" class="btn add-review mt2"><span class="material-symbols-outlined"> add </span>Dodaj recenzję</a>
                {% endif %}
            {% endblock %}
            <div class="add_review_card">
                {% block add_review %}{% endblock %}
            </div>


            {% if otherReviews|length > 0 %}
                {% for review in otherReviews %}
                    {% include 'review/_card.html.twig' with {
                        review: review,
                        isUserOwn: false
                    } %}
                {% endfor %}
            {% else %}
                <p>Brak recenzji dla tej książki.</p>
            {% endif %}
        </section>

{% endblock %}