{% extends 'base.html.twig' %}

{% block title %}{{ 'label.my_books'|trans }}{% endblock %}

{% block body %}
    <h1 class="text2xl fontBold mb4">{{ 'label.my_books'|trans }}</h1>

    {# Uwaga! Teraz przekazujemy właściwy FormView #}
    {% include 'book/search.html.twig' with { form: form } %}

    {% if pagination.items is not empty %}
        <div class="grid gridCols1 md:gridCols2 lg:gridCols3 gap4">
            {% for book in pagination.items %}
                <div class="roundedXl shadow p4 bgWhite">
                    <h2 class="textXl fontSemibold mb2">{{ book.title }}</h2>
                    {% if book.slug %}
                        <a href="{{ path('book_show', {slug: book.slug}) }}" class="textBlue500 underline textSm">
                            {{ 'label.details'|trans }}
                        </a>
                    {% endif %}
                    <p class="textSm mt2">{{ book.description|u.truncate(100) }}</p>
                    <p class="textXs textGray500 mt1">
                        {{ 'label.updated_at'|trans }}: {{ book.updatedAt|date('Y-m-d') }}
                    </p>
                </div>
            {% endfor %}
        </div>

        <div class="mt6">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p class="textGray600">{{ 'label.no_books_found'|trans }}</p>
    {% endif %}
{% endblock %}
