{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.gallery_details'|trans({'%id%': gallery.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{  gallery.title }}</h1>
    {% if gallery is defined and gallery|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ gallery.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ gallery.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'label.gallery'|trans }}</dt>
        </dl>
        <p>
            <a href="{{ url('gallery_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
        <h1>{{ 'title.book_list'|trans }}</h1>
        {% include 'book/list.html.twig' %}
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}


{% endblock %}