{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}App{% endblock %}</title>

    {{ encore_entry_link_tags('app') }}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    {# Choices.js styles #}
{#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />#}

    {% block stylesheets %} {% endblock %}
            {{ encore_entry_link_tags('app') }}
</head>
<body class="">
{% set ratingVisible=true %}
{% include 'nav.html.twig' %}

{#<div id="flash-container" aria-live="polite">#}
{#    {% for type, messages in app.session.flashBag.all %}#}
{#        {% for message in messages %}#}
{#            {% include 'default/_single_alert_message.html.twig' %}#}
{#        {% endfor %}#}
{#    {% endfor %}#}
{#</div>#}



<main>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}{% endblock %}
</main>



{% block javascripts %}{% endblock %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
{% include 'footer.html.twig' %}
</body>
</html>
