<nav class="navBar">
    {# ---------- Logo po lewej ---------- #}
    {# ---------- Hamburger po prawej ---------- #}

    <div class="navLogo">
        <a href="{{ path('homepage') }}">Book&nbsp;Library</a>


        <button id="hamburger"
                class="navHamburger"
                aria-label="Menu"
                aria-expanded="false">
            <span></span><span></span><span></span>
        </button>

    </div>



    {# ---------- Linki (zwijane na mobile) ---------- #}
    <div id="navLinks" class="navLinks">
        <a class="navLink" href="{{ path('homepage') }}">Home</a>
        <a class="navLink" href="{{ path('for_you_index') }}">Rekomendacje</a>
        <a class="navLink" href="{{ path('book_search') }}">Books</a>

        {% if app.user %}
            <a class="navLink" href="{{ path('library_index') }}">Library</a>
            <a class="navLink" href="{{ path('review_index') }}">Twoje&nbsp;Recenzje</a>
            <a class="navLink" href="{{ path('user_index') }}">Twój&nbsp;profil</a>
            <a class="navLink loginBtn" href="{{ path('app_logout') }}">Logout</a>
        {% else %}
            <a class="navLink" href="{{ path('app_login') }}">Login</a>
            <a class="navLink loginBtn" href="{{ path('user_register') }}">Register</a>
        {% endif %}


{#        <div class="themeControls">#}
{#            <button id="themeToggle"#}
{#                    class="navButton btnPrimary"#}
{#                    title="Przełącz motyw">🌙</button>#}
{#        </div>#}
    </div>

</nav>
