{% extends 'base.html.twig' %}

{% block title %}All Tags{% endblock %}

{% block body %}
    <h1>All Tags</h1>

    <a href="{{ path('tag_create') }}">Create new tag</a>

    {% if pagination.items is not empty %}
        <ul>
            {% for tag in pagination.items %}
                <li>
                    <a href="{{ path('tag_show', {id: tag.id}) }}">{{ tag.title }}</a>
                </li>
            {% endfor %}
        </ul>

        <div>
            Page {{ pagination.currentPageNumber }} of {{ pagination.pageCount }}
        </div>

        {% if pagination.previousPageNumber is defined %}
            <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all | merge({'page': pagination.previousPageNumber})) }}">Previous</a>
        {% endif %}
        {% if pagination.nextPageNumber is defined %}
            <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all | merge({'page': pagination.nextPageNumber})) }}">Next</a>
        {% endif %}

        {# lub po prostu: #}
        {# {{ knp_pagination_render(pagination) }} #}

    {% else %}
        <p>No tags found.</p>
    {% endif %}
{% endblock %}
