
{#{% extends 'base.html.twig' %}#}

{#{% block title %}{{ 'title.user_details'|trans({'%id%': user.id|default('')}) }}{% endblock %}#}



{#{% block body %}#}
{#    <section class="profile-page">#}
{#        <h1 class="profile-title">{{ 'title.user_details'|trans({'%id%': user.id|default('')}) }}</h1>#}

{#        {% if user is defined %}#}
{#            <div class="profile-container">#}
{#                #}{# ---------- Avatar ---------- #}
{#                <div class="profile-avatar">#}
{#                    {% if user.avatarFilename %}#}
{#                        <img src="{{ asset('uploads/avatars/' ~ user.avatarFilename) }}" alt="Avatar użytkownika {{ user.name }}" class="profile-avatar__img">#}
{#                    {% else %}#}
{#                        #}{# Placeholder: neutral tło + ikona użytkownika z heroicons (tailwind) #}
{#                        <div class="profile-avatar__placeholder" aria-label="{{ 'message.no_avatar'|trans }}">#}
{#                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="profile-avatar__icon">#}
{#                                <path fill-rule="evenodd" d="M12 2a6 6 0 100 12 6 6 0 000-12zm-9 18a9 9 0 1118 0H3z" clip-rule="evenodd" />#}
{#                            </svg>#}
{#                        </div>#}
{#                    {% endif %}#}
{#                </div>#}

{#                #}{# ---------- Info ---------- #}
{#                <div class="profile-info">#}
{#                    <dl class="profile-dl">#}
{#                        <dt>{{ 'label.name'|trans }}</dt>#}
{#                        <dd>{{ user.name }}</dd>#}

{#                        <dt>{{ 'label.email'|trans }}</dt>#}
{#                        <dd>{{ user.email }}</dd>#}

{#                        {% if is_granted('ROLE_ADMIN') %}#}
{#                            <dt>{{ 'label.roles'|trans }}</dt>#}
{#                            <dd>#}
{#                                {% for role in user.roles %}#}
{#                                    {{ role|trans }}{% if not loop.last %}, {% endif %}#}
{#                                {% endfor %}#}
{#                            </dd>#}

{#                            <dt>{{ 'label.status'|trans }}</dt>#}
{#                            <dd>#}
{#                                {% if user.banned %}#}
{#                                    <span class="profile-status profile-status--banned">{{ 'label.banned'|trans }}</span>#}
{#                                {% else %}#}
{#                                    <span class="profile-status profile-status--active">{{ 'label.active'|trans }}</span>#}
{#                                {% endif %}#}
{#                            </dd>#}
{#                        {% endif %}#}
{#                    </dl>#}

{#                    <div class="profile-actions">#}

{#                    </div>#}

{#                    #}{# ---------- Social links ---------- #}
{#                    <div class="profile-social">#}
{#                        <h3>{{ 'label.social_profiles'|trans }}</h3>#}
{#                        {% if user.accounts|length > 0 %}#}
{#                            <ul class="profile-social__list">#}
{#                                {% for account in user.accounts %}#}
{#                                    <li class="profile-social__item">#}
{#                                        <span class="profile-social__platform">{{ account.portalSpolecznosciowy }}</span>#}
{#                                        <a class="profile-social__link" href="{{ account.link }}" target="_blank" rel="noopener noreferrer">{{ account.link }}</a>#}
{#                                    </li>#}
{#                                {% endfor %}#}
{#                            </ul>#}
{#                        {% else %}#}
{#                            <p class="profile-social__empty">{{ 'message.no_social_profiles'|trans }}</p>#}
{#                        {% endif %}#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        {% else %}#}
{#            <p class="profile-empty">{{ 'message.record_not_found'|trans }}</p>#}
{#        {% endif %}#}
{#    </section>#}
{#{% endblock %}#}
